{% extends "base.html" %}
{% load static %}
{% block title %}Kontakt | PurAI{% endblock %}
{% block content %}
<section id="kontakt" class="bg-[#dff5e1] py-12 px-4 md:px-20 max-w-screen-xl mx-auto">
    <div class="mb-8 text-center max-w-xl mx-auto">
        <h2 class="text-2xl font-bold mb-2">Vaše sny přeměníme v realitu</h2>
        <p class="text-base">Nebojíme se výzev, pošlete poptávku, zašleme Vám nezávaznou kalkulaci ZDARMA!</p>
    </div>

    <div class="md:flex md:items-center md:gap-12">
        <!-- Formulár v ľavom stĺpci -->
        <form method="post" action="{% url 'contact' %}" class="max-w-lg mx-auto space-y-4 bg-[#dff5e1] p-6" novalidate>
            {% csrf_token %}
            {{ form.non_field_errors }}
        
            <div>
                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}
            </div>
            <div>
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div>
                {{ form.subject.label_tag }}
                {{ form.subject }}
                {{ form.subject.errors }}
            </div>
            <div>
                {{ form.message.label_tag }}
                {{ form.message }}
                {{ form.message.errors }}
            </div>
        
            <button type="submit" class="px-6 py-2 bg-green-700 text-white rounded hover:bg-green-800 transition">
                Odeslat
            </button>
        </form>

        <!-- Logo v pravom stĺpci -->
        <div class="md:w-1/2 flex justify-center">
            <a href="{% url 'home' %}">
              <img src="{% static 'images/logo1.png' %}" alt="Puraltech Logo" class="max-w-xs h-auto" />
            </a>
          </div>
    </div>
</section>
{% endblock %}